<!DOCTYPE html>
<html>


<head>
    <meta charset="utf-8">
    <title>Groupie Tracker</title>
    <link rel="icon" type="image/x-icon" href="../images/guitar_icon.png">
</head>

<body>

<nav>
    <div class="nav">

        <div class="logo">
            <a id="logo" href="/">GROUPIE TRACKER</a>
        </div>

        <div class="menu">
            <a href="/">Home</a>
            <a href="/aboutUs">About Us</a>
        </div>
    </div>
</nav>

<div class="error500">
    <h1>Error 500: Internal Server Error</h1>
    <p>Try again later</p>
</div>

</body>
</html>