<!DOCTYPE html>
<html>


<head>
    <meta charset="utf-8">
    <title>Groupie Tracker</title>
    <link rel="stylesheet" href="../assets/artist.css">
    <script type="text/javascript" src="../assets/style.js"></script>
    <link rel="icon" type="image/x-icon" href="../images/icongt.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>

<body>
    <div class="leftside">
        <div class="navArtist">
            <div class="logoArtist">
                <div id="logoArtist" >GROUPIE TRACK®</div>
                <div class="NameARTIST">ARTHURCHESSÉ</div>
                <div class="JAP">アーサー・シェセ</div>
            </div>  
        </div>
        
        <div class="NameARTISTdef">
                <table>
                 <tr class="scrollleft">
                    <td>{{.Artist.Name}}</td>
                    <td>{{.Artist.Name}}</td>
                    <td>{{.Artist.Name}}</td>
                    <td>{{.Artist.Name}}</td>
                    <td>{{.Artist.Name}}</td>
                    <td>{{.Artist.Name}}</td>
                </tr>
                <tr class="scrollright">
                    <td>{{.Artist.Name}}</td>
                    <td style="color:darkgrey;" >{{.Artist.Name}}</td>
                    <td>{{.Artist.Name}}</td>
                    <td>{{.Artist.Name}}</td>
                    <td>{{.Artist.Name}}</td>
                    <td>{{.Artist.Name}}</td>
                </tr>
                <tr class="scrollleft">
                    <td>{{.Artist.Name}}</td>
                    <td>{{.Artist.Name}}</td>
                    <td>{{.Artist.Name}}</td>
                    <td>{{.Artist.Name}}</td>
                    <td>{{.Artist.Name}}</td>
                    <td>{{.Artist.Name}}</td>
                </tr>
                <tr class="scrollright">
                    <td>{{.Artist.Name}}</td>
                    <td>{{.Artist.Name}}</td>
                    <td>{{.Artist.Name}}</td>
                    <td>{{.Artist.Name}}</td>
                    <td>{{.Artist.Name}}</td>
                    <td style="color:darkgrey;" >{{.Artist.Name}}</td>
                </tr>
                <tr class="scrollleft">
                    <td>{{.Artist.Name}}</td>
                    <td>{{.Artist.Name}}</td>
                    <td>{{.Artist.Name}}</td>
                    <td>{{.Artist.Name}}</td>
                    <td>{{.Artist.Name}}</td>
                    <td>{{.Artist.Name}}</td>
                </tr>
                <tr class="scrollright">
                    <td>{{.Artist.Name}}</td>
                    <td>{{.Artist.Name}}</td>
                    <td>{{.Artist.Name}}</td>
                    <td style="color:darkgrey;" >{{.Artist.Name}}</td>
                    <td>{{.Artist.Name}}</td>
                    <td>{{.Artist.Name}}</td>
                </tr>
                </table>
    
        </div>
        
        <div class="pochetteB">
            <img src="../images/pochette_back.png" alt="" class="poB">
        </div>

        <div class="diskdep">
            <div class="pochetteF">
                <img src="../images/pochette_front.png" alt="" class="poF">
            </div>
                
            <div class="popo">
                <img src={{.Artist.Image}}><br>
            </div>
        </div>

        <div class="diskdepo">
            <img src={{.Artist.Image}}><br>
        </div>

        <div class="centerdisk">
            <img src="../images/centerdisk.png"><br>
        </div>
        


        <div class="credit">
            ALL INC. ALL RIGHTS RESERVED. TM,® & COPYRIGHT® 2024 BY ARTHUR CHESSÉ
        </div>
    </div>

<div class="rightside">
    <div class="textRight">
        <div class="NameARTISTright">
            {{.Artist.Name}}
        </div>

        <div class="creationARTIST">
            <div class="creaARTIST">
            Creation <br> </div>
            <div class="creationDateARTIST">
            {{.Artist.CreationDate}}</div>
        </div>

        <div class="firstARTIST">
            Date Premier Album <br>
            {{.Artist.FirstAlbum}}
        </div>

        <div class="memberARTIST">
            {{with .Artist}}
                {{range $index, $member := .Members}}
                    {{if le $index 6}}
                        {{.}}<br>
                    {{end}}
                {{end}}
            {{end}}
        </div>

        <div class="search">
            <form method="get" action="/">
                <input type="search" placeholder="RECHERCHER" id="data" name="data" list="data-list" autocomplete="on">
                <datalist id="data-list">
                                {{with .Search}}
                                    {{range .ArtistBandName}}
                                        <option value="{{.}}"> - Artists/Band</option>
                                    {{end}}
                                    {{range .Members}}
                                        <option value="{{.}}"> - Member</option>
                                    {{end}}
                                    {{range .CreationDate}}
                                        <option value="{{.}}"> - Creation Date</option>
                                    {{end}}
                                {{end}}
                 </datalist>
             </form>
        </div>
        
    <div class="middlebox" style="display: none;">
        <h2>Concert Dates and Locations</h2>
        {{with .Artist}}
            {{range $key, $value := .Relations}}
                {{$key}} : {{range $value}}
                {{.}}<br>{{end}}<br>
            {{end}}
        {{end}}
    </div>

</body>
</html>

