<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Groupie Tracker</title>
    <link rel="stylesheet" href="../assets/style.css">
    <link rel="stylesheet" href="../assets/filter.css">
    <link rel="stylesheet" href="../assets/filter2.css">
    <link rel="stylesheet" href="../assets/filter3.css">
    <script type="text/javascript" src="../assets/style.js"></script>
    <script type="text/javascript" src="../assets/script.js"></script>
    <link rel="icon" type="image/x-icon" href="../images/icongt.png">
    
</head>
<body>
<nav>
    <section>
    <div class="nav">

        <div class="logo">
            <a id="logo" href="/" style="text-decoration:none">groupietrack®</a>
        </div>
        <a href="#thirdSection">
            <img src="../images/cassette 3DD.png" alt="" class="cassette">
        </a>
        <div class="logo2">ARTHURCHESSÉ</div>
        <div class="logo3">アーサー・シェセ</div>
        <div class="logo4" style="text-decoraion:none">TRACKER</div>


<script>
    function afficherApresDelai() {
        var maDiv = document.getElementById("maDiv");

        setTimeout(function () {
            maDiv.style.display = "block";
            clignoterDiv(); 
        }, 1000);
    }

    function clignoterDiv() {
        var maDiv = document.getElementById("maDiv");
        var visible = true;

        setInterval(function () {
            if (visible) {
                maDiv.style.color = "transparent";
            } else {
                maDiv.style.color = "red";
            }

            visible = !visible; 
        }, 230);
    }

    
    window.onload = afficherApresDelai;
</script>

    </section>
    <section>
        <div class="search">
            <form  action="#thirdsection">
                <input type="search" placeholder="Bienvenue sur GroupieTracker®" id="data" name="data" list="data-list" autocomplete="on">
                <datalist id="data-list">
                                {{with .Search}}
                                    {{range .ArtistBandName}}
                                        <option value="{{.}}"> - Artist/Band</option>
                                    {{end}}
                                    {{range .Members}}
                                        <option value="{{.}}"> - Member</option>
                                    {{end}}
                                    {{range .CreationDate}}
                                        <option value="{{.}}"> - Creation Date</option>
                                    {{end}}
                                {{end}}
                 </datalist>
             </form>
        </div> 

</nav>
        <div class="filter">
            <button id="showLocationFilter" >Afficher </button>
                    <div class="filterBar fade" style="display:none ;">
                        <form method="get">
                            <label class="crea" for="CreationDate">Création</label>
                            <div class="frame2">
                                <div class="range2">
                                    <input type="range" id="CreationDate" name="CreationDate" class="value" min="{{.Search.MinCreationDate}}" max="{{.Search.MaxCreationDate}}" value="{{.Search.MinCreationDate}}">
                                </div>
                            </div>
                            <span id="value"></span> - {{.Search.MaxCreationDate}}
                            <script>
                                var value = document.getElementById("CreationDate");
                                var output = document.getElementById("value");

                                output.innerHTML = value.value;

                                value.addEventListener("input", function() {
                                    output.innerHTML = this.value;
                                });

                                function valider() {
                                    
                                    var valeurSelectionnee = value.value;
                                   
                                    alert("Filtrer avec la valeur : " + valeurSelectionnee);
                                }
                            </script>

                            <label class="fist" for="FirstAlbum">Premier Album </label>
                            <div class="frame">
                                <div class="range">
                                    <input type="range" id="FirstAlbum" name="FirstAlbum" class="valueAlbum" min="{{.Search.MinFirstAlbum}}" max="{{.Search.MaxFirstAlbum}}" value="{{.Search.MinFirstAlbum}}">
                                </div>
                            </div>
                            <span id="values"></span>  - {{.Search.MaxFirstAlbum}}
                            <script>
                                var valueAlbum = document.getElementById("FirstAlbum")
                                var outputAlbum = document.getElementById("values")
                                outputAlbum.innerHTML = valueAlbum.value;
                                valueAlbum.oninput = function() {
                                    outputAlbum.innerHTML = this.value;
                                }
                            </script>

                    
                            <div class="loc">Location</div>
                            <label class="select" for="slct">
                                <select id="slct" name="locationFilter">
                                    <option value="">Concert Location</option>
                                    {{range .Location}}
                                    <option value="{{.}}">{{.}}</option>
                                    {{end}}
                                </select>
                                <svg>
                                    <use xlink:href="#select-arrow-down"></use>
                                </svg>
                            </label>
                            <svg class="sprites">
                                <symbol id="select-arrow-down" viewbox="0 0 10 6">
                                    <polyline points="1 1 5 5 9 1"></polyline>
                                </symbol>
                            </svg>

                                 <div class="checkos">
                                {{range .Search.MaxMembers}}
                                    <input type="checkbox" name="{{.}}" value="{{.}}"> {{.}}
                                {{end}}

                            </div>
                            <input class="inp" type="submit">
                        </form>
                    </div>
                </div>

            <script>
            var showLocationFilterButton = document.getElementById("showLocationFilter");
            var locationFilterBar = document.querySelector(".filterBar");

            showLocationFilterButton.addEventListener("click", function () {

                locationFilterBar.style.display = (locationFilterBar.style.display === "none") ? "block" : "none";


                showLocationFilterButton.textContent = (locationFilterBar.style.display === "none") ? "Afficher Filtre de Location" : " ";
            });
        </script>

        </div>
</section>
    <section class="thirdsection" id="thirdSection">
        

        <div class="conteneur" id="conteneur">
            {{range .Artist}}
                <div onclick="window.location.href = '/artist/{{.Id}}';" class="box ">
                    <div class="scroll">
                    </div>
                        <div class="imgigm" >
                            <div class="img"><img src={{.Image}}></div>
                            <div class="imgdisk"><img src={{.Image}}></div>  
                        </div>
                </div>
            {{end}}
        </div>
        
            <div class="trigger-div" >
                <img src="../images/Sans titre-2.png" alt="" class="front">
            </div>
            
            <div class="thubaud">
                <img src="../images/lecteurcd-Front.png" alt="" class="back">
            </div>
</section>
</body>
</html>